@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans',Arial, Helvetica, sans-serif;
}

.heading-highlight::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  height: 45%;
  background: #36a9e1;
  bottom: 0;
}

.effect-container {
  position: relative;
  background-image: url('/images/image1.jpg'); 
  background-size: cover; /* Ensures image covers the container */
  background-position: center;
  overflow: hidden;
}


